.login-body{
    min-width:1200px;

    .login-main{
        width: 100%;
        position: absolute;
        z-index: 11;
    }

    .login-backgroundImg{
        margin: 0px;
        padding: 0px;
        width: 100%;
        position: relative;
    }

    .logo-img{
        position: absolute;
        margin-left: 10%;
        margin-top: 55px;
    }

    .login-input{
        width: 100%;
        height: 454px;
        margin: auto;
        position: relative;
        margin-top: 158px;
        min-width: 1200px;
        text-align: center;

        .login-main-input{
            width: 397px;
            height: 100%;
            background: #ffffff;
            position: relative;
            margin: auto;

            .left-input{
                width: 50%;
                height: 100%;
                float: left;
                text-align: center;

                .login-div{
                    width: 6px;
                    height: 47px;
                    background: #6cb7f1;
                    float: left;
                }
                .login-name{
                    float: left;
                    color: #6cb7f1;
                    font-size: 20px;
                    margin-left: 15px;
                    margin-top: 9px;
                }
                .login-head1{
                    clear: both;
                    .radius-head{
                        background: #cde6fa none repeat scroll 0 0;
                        border: 3px solid #cde6fa;
                        border-radius: 81px;
                        height: 110px;
                        margin: auto;
                        width: 110px;
                        padding-top: 0.5px;
                    }
                }

                
            }
            .right-img{
                width: 50%;
                float: left;
            }
        }
    }
}

.login_return{
    height: 15px;
    width: 92%;
    padding-bottom: -10px;
    margin-left: 25%;
    text-align: left;
    color: #777777;   
}

@waringColor:#acacac;
.waring-head{
    border-radius: 5px;
    width: 8px;
    height: 8px;
    background: @waringColor;
       position: absolute;
    margin-top: 5px;
    margin-left: 16px;
}
.waring-font{
    color: @waringColor;
    font-size: 11px;
    width: 98%;
    /* float: right; */
    margin-top: -50px;
    z-index: 100;
    margin-left: 8px;
}

#loginName{
    font-size: 16px;
    color: #ffffff;
    margin-top: -30px;
}

.login-input-must1{
    
    margin-top:80px;
    width:85%;
    height:90%;
    margin-left:7.5%;

    input{
        margin-top:5px;
        width :245px;
        height: 30px;
        border-radius: 0px;
        border: 1px solid #979ba0;
        background-repeat: no-repeat;
        text-indent: 20px;
        color: #333333;
        font-size: 16px;
    }
    img{
        position: absolute;
        margin-top: 8px;
        margin-left:-40px;
    }
}

.forget-password{
    margin-top: 30px;
    a{
        float: right;
        margin-right: 0px;
        color:#8b8b8b;
        font-size: 14px;
        cursor : pointer;
        text-decoration:underline;
    }
}

.login-button{
    margin-top:23px;
    cursor : pointer;
    margin-left:-20px;
    img{
        cursor : pointer;
    }
}