/*打印出来的表格样式，注意设置打印区域的样式名称不要和其他样式名称冲突*/
.daily-patrol-printListTable{
    width: 800px;
    margin: auto;

    tr{
        height: 45px;

        td{
            border: 1px solid #666;
            text-indent: 8px;
            text-align: left;
        }
    }
}
.daily-div{
    width: 55px;
    text-align: center;
    padding: 15px;
    border-right: 1px solid #666;
    font-weight: bold;
    float: left;
}
.daily-content{
    float: left;
}
.daily-content-detail{
    margin:15px;
    img{
        height: 20px;margin-left: 15px;
        margin-top: -3px;
    }
    span{
        margin-left:15px;
        margin-right:15px;
    }
}
